<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/all.min.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                    <form th:action="@{/login}" method="post">

                        <div class="alert alert-info" role="alert" th:text="${success}" th:if="${success}">
                        </div>

                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                You have been logged out.
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="username" id="username" placeholder="name">
                            <label for="username">User Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="password">
                            <label for="password">Password</label>
                        </div>

                        <!--                        <div class="form-check mb-3">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">-->
                        <!--                            <label class="form-check-label" for="rememberPasswordCheck">-->
                        <!--                                Remember password-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                                in
                            </button>
                        </div>
                        <br>
                        <div class="d-grid mb-2">
                            <button class="btn btn-register btn-login text-uppercase fw-bold" type="submit">
                                <a style="color: white; text-decoration: none" th:href="@{/registration}"> register </a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>