<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/all.min.css}" rel="stylesheet">
    <script th:href="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-5 p-sm-5">
                    <h3 class="card-title text-center mb-5 fw-light fs-4">Update</h3>
                    <form th:action="@{/users/saveUpdatedUser}" method="post" th:object="${user}">
                        <div class="form-floating mb-3 invisible">
                            <input th:field="*{userid}" class="form-control" id="userid" placeholder="userid"
                                   required autofocus="autofocus">
                            <label for="userid">UserId</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{emailId}" class="form-control" id="emailId" placeholder="emailId"
                                   required autofocus="autofocus">
                            <label for="emailId">EmailId</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{firstName}" class="form-control" id="firstName"
                                   placeholder="firstName" required>
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{lastName}" type="text" class="form-control" id="lastName" placeholder="lastName"
                                   required>
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{enabled}" type="text" class="form-control" id="enabled" placeholder="enabled"
                                   required>
                            <label for="enabled">Enabled</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="password"
                                   required>
                            <label for="password">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{roles}" type="text" class="form-control" id="role" placeholder="role"
                                   required>
                            <label for="role">Role (supported: ADMIN, USER separated by comma)</label>
                        </div>
                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" th:type="submit">
                                Update User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>