<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Users</h1>
        <table class="table table-responsive table-bordered table-striped">
            <thead>
            <tr>
                <th>user_id</th>
                <th>email_id</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>password</th>
                <th>is_enabled</th>
                <th>role</th>
                <th>provider</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userDtos}">
                <td th:text="${user.userid}"></td>
                <td th:text="${user.emailId}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.enabled}"></td>
                <td th:text="${user.roles}"></td>
                <td th:text="${user.provider}"></td>
                <td>
                    <a th:unless="${#authentication.name} == ${user.emailId}"
                       th:href="@{/users/{emailid}(emailid=${user.emailId})}" class="btn btn-danger">Delete</a>
                    <a th:href="@{/users/showFormForUpdate/{emailid}(emailid=${user.emailId})}"
                       class="btn btn-primary">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>